.posts-parent {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.post-container {
  justify-content: space-around;
  width: 300px;
  height: 250px;
  background: aliceblue;
  border: solid 1px black;
  margin: 10px 0px;
}

.post-container:hover {
}

.post-link {
  text-decoration: none;
  color: black;
}
